<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<footer class="footer navbar-fixed-bottom ">
    <!-- credits -->
    <!-- <div class="text-center">
        <p>
            <a href="http://jasonwatmore.com/post/2018/11/22/angular-7-role-based-authorization-tutorial-with-example"
                target="_top">Angular 7 - Role Based Authorization Tutorial with Example</a>
        </p>
        <p>
            <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
        </p>
    </div> -->
    <span id="laws">
        <!--domestic-->
        <div>
            <a target="_blank" rel="noopener noreferrer" href="http://www.huaweicloud.com/declaration/statement.html">法律声明</a>
            <span>|</span>
            <a target="_blank" rel="noopener noreferrer"
                href="http://www.huaweicloud.com/declaration/sa_prp.html">隐私政策声明</a>
            <span>|</span>
            <a
                target="_blank" rel="noopener noreferrer" href="https://portal.huaweicloud.com/feedback?type=jubao">举报不良信息</a>
            <span>|</span>
            <a target="_blank" rel="noopener noreferrer" href="http://www.huaweicloud.com/declaration/sa_nisr.html"
                >可接受的使用政策</a>
            <span>|</span>
            <a target="_blank" rel="noopener noreferrer" href="http://www.huaweicloud.com/declaration/sa_cua.html">华为云用户协议</a>
        </div>
    </span>
</footer>